{% extends 'common.html' %}
{% block yashimdb %}



    <form action="{% url 'adminhome' %}" method="post">
    {% csrf_token %}
    <table align="center" border="0" style="height: 300px;">
        <tr>
            <th style="width: 500px;text-align: center;font-family: 'Agency FB';font-size: 30px;background-color: darkslategray;color: black">Admin Login Page</th>
        </tr>
        <tr>
            <th><input type="text" placeholder="USERNAME" name="y1" required></th>
        </tr>
        <tr>
            <th><input type="password" placeholder="PASSWORD" name="y2" required></th>
        </tr>
        <tr>
            <th style="text-align: center">
                <button type="submit" class="btn btn-success">Login</button>
            </th>
        </tr>
    </table>
    </form>
{% endblock %}



