
{% block anisha %}
    <table align="center" border="2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Movies</button>
          <button class="dropdown-item" type="button">TV Shows</button>
          <button class="dropdown-item" type="button">Awards and Events</button>
          <button class="dropdown-item" type="button">Celebs</button>
          <button class="dropdown-item" type="button">Videos</button>
          <button class="dropdown-item" type="button">Community</button>
        </div>
        </div>
    </table>
{% endblock %}